@model Models.Messages

@{
    ViewData["Title"] = "Delete";
}



<h3>آیا از حذف این مورد مطمئنید ؟</h3>
<div>
    <h4>Messages</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdminID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdminID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Read)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Read)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsReplay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsReplay)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="حذف" class="btn btn-default" /> |
        <a class="btn btn-danger" asp-action="Index">بازگشت</a>
    </form>
</div>
