@model Models.Price

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Price</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pric)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pric)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Text)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.ID">ویرایش</a> |
    <a class="btn btn-danger" asp-action="Index">بازگشت</a>
</div>
