@model Models.Image

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Server)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Server.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">ویرایش</a> |
    <a class="btn btn-danger" asp-action="Index">بازگشت</a>
</div>
