
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <!--====== USEFULL META ======-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="دانلود کمیاب ترین فیلم های آموزشی برنامه نویسی به زبان فارسی" />
    <meta name="keywords" content="" />
    <link rel="shortcut icon" type="image/ico" href="~/home/img/U.png" />
    <!--====== STYLESHEETS ======-->
    <link href="~/home/css/plugins.css" rel="stylesheet">
    <link href="~/home/css/theme.css" rel="stylesheet">
    <link href="~/home/css/icons.css" rel="stylesheet" />
    <!--====== MAIN STYLESHEETS ======-->
    <link href="~/home/Site.css" rel="stylesheet">
    <link href="~/home/css/responsive.css" rel="stylesheet">
    <script src="~/home/js/vendor/modernizr-2.8.3.min.js"></script>
    <link href="~/home/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/home/about/main.css" rel="stylesheet">
    <link href="~/home/about/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/home/css/properties.css">
    <link rel="stylesheet" href="~/home/css/style.css">
    <style>
        body {
            font-family: IRANSans;
            background: #fff
        }

        .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
            background-color: #fff !important;
            color: deepskyblue !important;
        }

        .navbar-header {
            border-radius: 30px;
        }

        .menuA:hover {
            background-color: #fff !important;
            color: darkblue !important
        }

        .mega-dropdown-menu > li > ul > li {
            list-style: none;
        }

        .mainmenu-area {
            border-radius: 30px;
        }
    </style>

    <script type="text/javascript">
        function searchToggle(obj, evt) {
            var container = $(obj).closest('.search-wrapper');

            if (!container.hasClass('active')) {
                container.addClass('active');
                evt.preventDefault();
            }
            else if (container.hasClass('active') && $(obj).closest('.input-holder').length == 0) {
                container.removeClass('active');
                // clear input
                container.find('.search-input').val('');
                // clear and hide result container when we press close
                container.find('.result-container').fadeOut(100, function () { $(this).empty(); });
            }
        }

         function changeImage() {
            @*document.getElementById("imgClick").src = '@Url.Content(db.EditImages.Where(m => m.Title == "bahar").FirstOrDefault().Url)';*@
        }

    </script>


</head>
<body>
    <!--START TOP AREA-->
    <header>
        <div class="header-top-area" id="scroolup" style="position:fixed">
            <!--MAINMENU AREA-->
            <div>
                <div class="mainmenu-area-bg"></div>
                <nav class="navbar">
                    <div class="container">
                        <nav class="navbar navbar-default" style="background:white;margin-top:1px;font-size:12px;opacity:1;border-radius:30px;border:1px solid lightgray">
                            <div class="mainmenu-area" id="mainmenu-area">
                                <div class="mainmenu-area-bg" style="background-color:whitesmoke"></div>
                                <div class="navbar-header" style="background-color:white">
                                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="collapse navbar-collapse js-navbar-collapse">
                                <ul class="nav navbar-nav">

                                    <li>
                                        <a href="@Url.Action("Index","Home",null)" id="index" style="color:black;width:130px">صفحه اصلی</a>
                                    </li>
                                    <li>
                                        <a id="corse" href="@Url.Action("Course","Home",null)" style="color:black;width:130px">دوره های ما</a>
                                    </li>
                                    <li class="dropdown mega-dropdown">

                                        <a id="prog" href="#" class="dropdown-toggle" style="color:black;width:130px" data-toggle="dropdown">برنامه نویسی</a>
                                        <ul class="dropdown-menu mega-dropdown-menu row">
                                            <li class="col-sm-3">
                                                <ul>
                                                    <br />
                                                    <content>

                                                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                                            <div class="carousel-inner" style="text-align:center">
                                                                <div class="item active">
                                                                    <a href="#"><img src="~/home/img/Nav/c.jpg" class="img-responsive" alt="" title="c# tourial" id="imgClick"></a>
                                                                    <h4 style="text-align:center"><small>پک طلایی C#</small></h4>
                                                                </div><!-- End Item -->

                                                            </div><!-- End Carousel Inner -->
                                                        </div>
                                                    </content>
                                                    <!-- /.carousel -->
                                                </ul>
                                            </li>
                                            <li class="col-sm-3">
                                                <ul>
                                                    <li class="dropdown-header" style="text-align:right">
                                                        <a href="#" style="color:darkblue!important;font-size:15px!important;text-align:right!important" class="menuA"> برنامه نویسی ویندوز</a>

                                                    </li>
                                                    <li style="margin-bottom:7px"><a href="Coming.cshtml" onmousemove="changeImage()" style="font-size:11px">فیلم آموزشی سی شارپ</a></li>
                                                    <li style="margin-bottom:7px"><a href="Coming.cshtml" onmousemove="changeImage()" style="font-size:11px">فیلم آموزشی  جاوا</a></li>
                                                    <li style="margin-bottom:7px"><a href="Coming.cshtml" onmousemove="changeImage()" style="font-size:11px">فیلم آموزشی پایتون</a></li>
                                                    <li style="margin-bottom:7px"><a href="Coming.cshtml" onmousemove="changeImage()" style="font-size:11px">فیلم آموزشی بیسیک</a></li>
                                                    <li style="margin-bottom:7px"><a href="Coming.cshtml" onmousemove="changeImage()" style="font-size:11px">فیلم آموزشی سی پلاس پلاس</a></li>
                                                    <li style="margin-bottom:7px" class="divider"></li>

                                                </ul>
                                            </li>


                                        </ul>

                                    </li>


                                    <li>
                                        <a id="abot" href="@Url.Action("About","Home",null)" style="color:black;width:130px">درباره ما</a>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("../User/Login","Home",null)" style="color:black;width:130px">ثبت نام/ورود</a>
                                    </li>

                                    <li>

                                        <form onsubmit="submitFn(this, event);">
                                            <div class="search-wrapper">
                                                <div class="input-holder">
                                                    <input type="text" class="search-input" placeholder="جستجو ..." style="font-size:12px" />
                                                    <button class="search-icon" onclick="searchToggle(this, event);"><i class="fa fa-search" style="color:black;font-size:18px;padding-top:5px"></i></button>
                                                </div>
                                            </div>
                                        </form>

                                    </li>
                                </ul>



                            </div>
                            <!-- /.nav-collapse -->
                        </nav>

                    </div>
                </nav>



            </div>
        </div>
    </header>
    <!--END TOP AREA-->

    <div>
        @RenderBody()
    </div>

    <!--FOOTER AREA-->
    <footer class="footer-area sky-gray-bg relative">
        <div class="footer-top-area padding-80-80 bg-dark" style="background:url(/home/img/Body/545.png)">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 col-sm-12 col-xs-12" style="
    text-align:center;padding-bottom:5px">
                        <p style="color:white;
    color: rebeccapurple;
    font-size: 28px;
    font-weight: bold;
    font-family: 'A Afsaneh';
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
">پی<span style="color:mediumblue">لرن</span></p>
                        <br />
                        <p style="text-align:center;font-size:15px;"> سایت آموزشی فارسی زبانان پرشین لرنینگ ارایه دهنده بهترین فیلم های آموزشی در ایران</p>
                        <p style="text-align:center;font-size:12px">  :ما را در شبکه های اجتماعی دنبال کنید</p>
                        <br />
                        <span><a href="#"><img src="~/home/img/Body/f.png" /></a></span>
                        <span><a href="#"><img src="~/home/img/Body/i.png" /></a></span>
                        <span><a href="#"><img src="~/home/img/Body/t.png" /></a></span>
                        <span><a href="#"><img src="~/home/img/Body/g.png" /></a></span>
                        <span><a href="#"><img src="~/home/img/Body/tt.png" /></a></span>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-12 col-xs-12">
                        <div class="single-footer footer-list white xs-center xs-mb50">
                            <p style="text-align:center">دوره های آموزشی</p>
                            <br />
                            <center>
                                <div style="height:2px;background-color:deepskyblue;width:120px"></div>
                            </center>
                            <br />
                            <ul style="text-align:center;list-style-type:none">
                                <li><a id="ali" href="@Url.Action("HtmlCourse","Home",null)">Html 5</a></li>
                                <li><a id="ali" href="CssPage.cshtml">Css</a></li>
                                <li><a id="ali" href="PhpPage.cshtml">Php</a></li>
                                <li><a id="ali" href="Csharp.cshtml">C#</a></li>
                                <li><a id="ali" href="java.cshtml">Java</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 col-sm-12 col-xs-12">
                        <div class="single-footer footer-list white xs-center xs-mb50">
                            <p style="text-align:center"> دسترسی سریع</p>
                            <br />
                            <center>
                                <div style="height:2px;background-color:deepskyblue;width:120px"></div>
                            </center>
                            <br />
                            <ul style="text-align:center;list-style-type:none">
                                <li><a id="ali" href="#">Html 5</a></li>
                                <li><a id="ali" href="#">Css</a></li>
                                <li><a id="ali" href="#">Php</a></li>
                                <li><a id="ali" href="#">C#</a></li>
                                <li><a id="ali" href="#">Network+</a></li>
                                <li><a id="ali" href="#">Java</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-12 col-xs-12">
                        <p style="text-align:center">ارسال نظر</p>
                        <br />
                        <center>
                            <div style="height:2px;background-color:deepskyblue;width:120px"></div>
                        </center>
                        <br />
                        <form action="#" method="post" style="font-family:IRANSans;text-align:center">

                            <input type="text" class="form-control" style="text-align:center" name="email" placeholder="ایمیل" />
                            <br />
                            <textarea name="message" class="form-control" style="text-align:center" placeholder="پیام"></textarea>
                            <br />
                            <button class="form-control btn btn-primary" style="">ارسال</button>
                            <br />
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area white" style="background:url(/home/img/Body/5450.png)">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="footer-copyright text-center wow fadeIn">
                            <p style="font-size:12px">
                                محفوظ است <span style="color:white;width:150px;padding-right:10px;
    color: red;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Comic Sans MS';
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
">SORIP</span> کلیه حقوق مادی و معنوی این سایت برای گروه برنامه نویسی
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--FOOER AREA END-->
    <!--====== SCRIPTS JS ======-->
    <script src="~/home/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/home/js/vendor/bootstrap.min.js"></script>
    <!--====== PLUGINS JS ======-->
    <script src="~/home/js/vendor/jquery.easing.1.3.js"></script>
    <script src="~/home/js/vendor/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/home/js/vendor/jquery.appear.js"></script>
    <script src="~/home/js/owl.carousel.min.js"></script>
    <script src="~/home/js/stellar.js"></script>
    <script src="~/home/js/waypoints.min.js"></script>
    <script src="~/home/js/jquery.counterup.min.js"></script>
    <script src="~/home/js/wow.min.js"></script>
    <script src="~/home/js/jquery-modal-video.min.js"></script>
    <script src="~/home/js/stellarnav.min.js"></script>
    <script src="~/home/js/placeholdem.min.js"></script>
    <script src="~/home/js/contact-form.js"></script>
    <script src="~/home/js/jquery.ajaxchimp.js"></script>
    <script src="~/home/js/jquery.sticky.js"></script>
    <!--===== ACTIVE JS=====-->
    <script src="~/home/js/main.js"></script>
    <script src="~/home/about/index.js"></script>
</body>
</html>
