@model Models.Slider

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Slider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sort)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Text)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">ویرایش</a> |
    <a class="btn btn-danger" asp-action="Index">بازگشت</a>
</div>
