<style>
    .btn1:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
        background-color: #fff !important;
        color: deepskyblue !important
    }

    .btn2:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
        background-color: #fff !important;
        color: darkblue !important
    }

    .box1:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
    }
</style>
@{
    ViewBag.Title = "سایت آموزشی فارسی پرشین لرنینگ";
    SliderRepository RepSlider = new SliderRepository();
    TopicRepository RepTopic = new TopicRepository();
    MovieRepository RepMovie = new MovieRepository();
    CourseRepository RepCourse = new CourseRepository();
    ProfessorRepository RepProfessor = new ProfessorRepository();
}
<header>


    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-12" style="text-align:center">

                <div id="myCarousel" class="carousel slide" data-ride="carousel" style="background-color:whitesmoke;margin-top:100px;margin-bottom:30px;border-radius:45px;opacity:0.9;padding-top:15px;padding-bottom:15px">
                    <div class="carousel-inner">
                        @foreach (var item in RepSlider.GetSlider().Take(4))
                        {
                            <div class="item ">
                                <div style="font-weight:bold;color:blue">@item.Title</div>
                                <h4><small>: مرور کلی</small></h4>
                                <ul style="direction:rtl;text-align:right;list-style-type:none;font-size:14px!important">
                                    @foreach (var item1 in RepTopic.GetAll().Take(4))
                                    {
                                        <li>
                                            <span class="fa fa-check"></span>&nbsp; @item1.Title
                                        </li>
                                    }
                                    <li>
                                        <span class="fa fa-check"></span>&nbsp;  و...
                                    </li>
                                </ul>
                                <div style="text-align:right;padding-right:30px">
                                    <h4>تعداد قسمت : @item.Number &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                                    <h4>مدرس: @item.Professor</h4>
                                </div>
                                <div class="author-img mb20" style="height:150px;width:150px;margin-left:150px">
                                    <img src="@item.ImgUrl" alt="@item.Alt"/>
                                </div>
                                <button style="border-radius:20px;color:white;background-color:deepskyblue;outline:none;margin-bottom:8px!important" href="#" class="btn btn-default btn1" type="button">افزودن به سبد خرید</button>
                                <button style="border-radius:20px;color:white;background-color:darkblue;outline:none;margin-bottom:8px!important" href="#" class="btn btn-danjer btn2" type="button">مشاهده جزئیات دوره</button>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>




<br />
<div class="container row wow fadeInDown">
    <p class="col-lg-2" style="margin-top:25px;text-align:center;font-size:15px;padding:5px;background-color:white;border-radius:10px;border:1px solid lightgray;color:darkblue">فیلم های پیشنهادی ما</p>
    <div class="col-lg-10" style="margin-top:40px;height:1px;background:lightgray"></div>
</div>
<div class="container row wow fadeInDown" style="margin-top:30px">
    @foreach (var itemMovie in RepMovie.GetMovie().Take(3))
    {
        <div class="col-lg-4" style="text-align:center">
            <div class="single-course" style="background-color:#fff">
                <video controls style="width:90%;padding-top:20px">
                    <source src="@itemMovie.MovieUrl" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">
                    Your browser does not support HTML5 video.
                </video>
                <div style="position:absolute;top:10px;right:20px;background-color:deeppink;color:white;padding:6px">@itemMovie.State</div>
                <div class="w3-container w3-center" style="padding-bottom:15px">
                    <h5 style="color:darkblue">@itemMovie.Title</h5>
                    <h5>مدرس : @itemMovie.Professor</h5>
                </div>
            </div>
        </div>
    }

</div>




<section class="section-padding wow fadeInDown">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                <div class="text-center wow fadeIn">
                    <h2 class="xs-font20" style="color:darkblue">
                        سایت آموزشی فارسی
                        <span style="color:white;width:150px;padding-right:10px;color: white;font-size: 38px;font-weight: bold;
                              font-family: 'A Afsaneh';text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);">
                            <span style="color:rebeccapurple;">پی</span><span style="color:mediumvioletred">لرن</span>
                        </span>
                    </h2><br /><br />
                    <p style="font-size:16px;">
                        سایت پرشین لرنینگ(پی لرن) سایتی کاملا فارسی برای فارسی زبانان ایران و جهان است.
                        این سایت ارایه دهنده کاملترین مجموعه های کمیاب و یا حتی نایاب آموزشی جهان است که توسط بهترین و مجرب ترین اساتید هر زمینه گردآوری گردیده است
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="fun-fact-area center white relative padding-100-70" id="fact">
    <div class="area-bg" data-stellar-background-ratio="0.6"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.3s">
                    <img src="~/home/img/Body/1.png" id="i" />
                    <h4>مشاوره</h4>
                    <p style="font-size:12px;padding-top:10px!important">                کاربران می توانند در قسمت درباره ما و با انتخاب کارشناس مربوطه جهت مشاوره با وی تماس بگیرند</p>
                    <h3 class="font60 xs-font26"><span class="counter">10</span></h3>
                    <p class="font600"> مشاور</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.1s">
                    <img src="~/home/img/Body/2.png" id="i" />
                    <h4>دعوت به همکاری</h4>
                    <p style="font-size:12px;padding-top:10px!important">
                        از متخصصان زمینه های برنامه نویسی جهت تهیه دوره های آموزشی خود و تدریس دعوت به عمل می آید
                    </p>
                    <h3 class="font60 xs-font26"><span class="counter">20</span></h3>
                    <p class="font600">مدرس</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.2s">
                    <img src="~/home/img/Body/student.png" id="i" />
                    <h4 style="f">شرکت در دوره </h4>
                    <p style="font-size:12px;padding-top:10px!important">
                        دانشجویان و دانش آموزان می توانند با انتخاب و شرکت در دوره آموزشی مورد نظر کسب دانش نمایند
                    </p>
                    <h3 class="font60 xs-font26"><span class="counter">60</span></h3>
                    <p class="font600">دسته آموزشی</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.4s">
                    <img src="~/home/img/Body/4.png" id="i" />
                    <h4>ثبت نام</h4>
                    <p style="font-size:12px;padding-top:10px!important">
                        کاربران وهمکاران جهت استفاده از دوره های آموزشی باید در سایت ثبت نام نمایند و یا وارد شوند
                    </p>
                    <h3 class="font60 xs-font26"><span class="counter">900</span></h3>
                    <p class="font600">عضو فعال</p>
                </div>
            </div>
        </div>
    </div>
</section>





<section class="course-area padding-top wow fadeInDown" id="courses">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                <div class="area-title text-center wow fadeIn">
                    <h3 class="xs-font26" style="color:darkblue">جدیدترین ترین دوره های آموزشی</h3>
                </div>
            </div>
        </div>
        <div class="row course-list">
            @foreach (var itemCourse in RepCourse.GetCourse().Take(6))
            {
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 ">
                    <div class="single-course mb20 box1" style="background-color:white">
                        <img src="@itemCourse.ImgUrl" alt="@itemCourse.Alt">
                        <div class="course-details padding30">
                            <h3 class="font18" style="text-align:center;font-size:18px;color:darkblue"> @itemCourse.Title </h3>
                            <p style="text-align:center;font-size:12px">سطح @itemCourse.CourseType با تدریس @itemCourse.Professor</p>
                            <p class="mt30"><a href="Htmlpage.html" class="enroll-button main-button icon-button" style="text-decoration:none">مشاهده پکیج</a><span style="color:deepskyblue" class="course-price"> @itemCourse.Price</span><span style="color:deepskyblue" class="course-price">تومان</span></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>




<section class="blog-feed-area padding-top " id="blog">
    <div class="container">
        <div class="container row wow fadeInDown">
            <p class="col-lg-2" style="margin-top:25px;text-align:center;font-size:16px;padding:5px;background-color:white;border-radius:10px;border:1px solid lightgray;color:darkblue">مدرسین مربوطه</p>
            <div class="col-lg-10" style="margin-top:40px;height:1px;background:lightgray"></div>
        </div>

        <div class="row" style="margin-top:50px">
            @foreach (var itemProf in RepProfessor.GetProfessor())
            {
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="single-blog-item sm-mb30 xs-mb30 wow fadeInUp" data-wow-delay="0.2s" style="background-image:url(/home/img/Body/55.png)">
                        <div class="blog-thumb">
                            <img src="@itemProf.ImgUrl" alt="@itemProf.Alt">
                        </div>
                        <div class="blog-details padding30">
                            <h3 class="blog-title font20 mb30" style="text-align:center;font-size:22px"> @itemProf.Name </h3>
                            <p class="blog-meta font14 mt20" style="text-align:center;font-size:16px">
                                @itemProf.Evidence
                                <br /> @itemProf.Skill
                            </p>
                            <br />
                            <a href="#"><i id="i" class="fa fa-telegram" style="color:deepskyblue;font-size:20px"></i></a>
                            <a href="#"><i id="i" class="fa fa-instagram" style="color:deeppink;font-size:20px"></i></a>
                            <a href="#"><i id="i" class="fa fa-google-plus" style="color:red;font-size:20px"></i></a>
                            <a href="#"><i id="i" class="fa fa-whatsapp" style="color:lightgreen;font-size:20px"></i></a>
                        </div>
                    </div>
                </div>
            }

            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 hidden-sm">
                <div class="single-blog-item wow fadeInUp visible-sm" data-wow-delay="0.4s">
                    <div class="blog-thumb">
                        <a href="blog.html"><img src="~/home/img/5.png" alt=""></a>
                    </div>
                    <div class="blog-details padding30">
                        <h3 class="blog-title font20 mb30"><a href="blog.html">Blazeon Scrambles to Police Content Amid Rapid Growth</a></h3>
                        <p class="blog-meta font14 mt20"><a href="#">Feb 01, 2016  </a> by <a href="#">Mark Stonis</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br /><br />