@model IEnumerable<Models.Professor>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a class="btn btn-success" asp-action="Create">ثبت</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Evidence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopSkill)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Evidence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopSkill)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
